---
import { Icon } from "astro-icon/components";
---

<button
  id="scrollToTop"
  class="text-white bg-secondary p-3 fixed bottom-4 right-4 rounded-full shadow-lg z-10 transition-transform duration-300 hover:scale-110"
>
  <Icon name="arrow_up" class="size-5" />
</button>
