---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import SocialLink from "./SocialLink.astro";
---

<div class="hero bg-base-200 min-h-screen p-4 lg:p-0" id="hero">
  <div class="hero-content flex-col lg:flex-row-reverse max-w-5xl gap-8">
    <img src="/programming.svg" class="max-w-lg rounded-lg max-md:w-full" />
    <div>
      <h1 class="text-5xl font-bold" id="home">
        {t("hero.welcome")}
      </h1>
      <h2 class="text-2xl">{t("hero.subtitle")}</h2>
      <p class="py-6">
        {t("hero.description")}
      </p>
      <ul class="flex gap-1 my-4">
        <a class="btn btn-primary" href="/cv.pdf" target="_blank">
          {t("hero.cv")}
        </a>
        <SocialLink href="https://github.com/vazpeitiah" icon="github" />
        <SocialLink
          href="https://www.linkedin.com/in/vazpeitiah/"
          icon="linkedin"
        />
        <SocialLink href="https://wa.me/527721432826" icon="whatsapp" />
      </ul>
    </div>
  </div>
</div>
