---
import clsx from "clsx";

interface Props {
  title: string;
  htmlId: string;
  className?: string;
}

const { title, className, htmlId } = Astro.props;
---

<div
  id={htmlId}
  class={clsx(
    "py-8 min-h-screen w-full bg-base-100 flex justify-center items-center px-4 lg:px-0",
    className
  )}
>
  <div class="max-w-5xl flex flex-col items-center gap-8">
    <div class="divider"><h1 class="text-4xl font-bold">{title}</h1></div>
    <slot />
  </div>
</div>
